target/
.project
.classpath
.settings/
.svn/
bin/
# Intellij
*.ipr
*.iml
.idea
out/
.DS_Store
/bootstrap
/dependencies.xml
.java-version
*.p12
*.log
/saleDocuments
/src/filters
veronica-web/src/main/resources/application.properties
